#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.ncb
*.suo
*.lib
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper

#Project files
[Bb]uild/

#NuGet
packages/
*.nupkg
*.sqlite3
*.txt
